/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Kaushan+Script&family=Oswald&display=swap');


:root {
  --primary-color: rgb(175, 83, 83);
  --primary-variant: #db3f3f;
  --secondary-color: #62a3a3;
  --on-primary: rgb(250, 250, 250);
  --on-background: #333;
  --on-background-h2:rgba(92, 92, 92, 0.7);
  --on-background-alt: rgba(255, 255, 255, 0.9);
  --background:#f9f2ec;
  --box-shadow: 0 5px 20px 1px rgba(0, 0, 0, 0.5);
}

[data-theme="dark"] {
  --primary-color: rgb(10, 22, 246);
  --primary-variant: #56d5ee;
  --secondary-color: #acded9;
  --on-primary: #000;
  --on-background: rgba(255, 255, 255, 0.9);
  --on-background-h2: rgba(0,0,0, 0.4);
  --on-background-alt: rgba(255, 255, 255, 0.7);
  --background: rgba(0,0,0, 0.7);
}




html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  transition: all 1.5s;
}

body {
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
  color: var(--on-background);
  background-color: var(--background);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='224' height='224' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='100' y1='33' x2='100' y2='-3'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='100' y1='135' x2='100' y2='97'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23b79b96' fill-opacity='0.33'%3E%3Crect x='100' width='100' height='100'/%3E%3Crect y='100' width='100' height='100'/%3E%3C/g%3E%3Cg fill-opacity='0.3'%3E%3Cpolygon fill='url(%23a)' points='100 30 0 0 200 0'/%3E%3Cpolygon fill='url(%23b)' points='100 100 0 130 0 100 200 100 200 130'/%3E%3C/g%3E%3C/svg%3E");  
}

section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-size: 9rem;
  font-family: 'Kaushan Script', cursive;
}

h2 {
  font-size: 5rem;
  font-weight: normal;
  font-family: 'Oswald', sans-serif;
  color: var(--on-background-h2);
}

/* Navigation */
nav {
  z-index: 10;
  position: fixed;
  font-size: 2rem;
  letter-spacing: 3px;
  padding: 25px;
  width: 100vw;
  background: rgb(255 255 255 / 80%);
  display: flex;
}

a {
  display: inline-block;
  margin-right: 3rem;
  color: var(--primary-color);
  text-decoration: none;
  border-bottom: 3px solid transparent;
  font-weight: bold;
  text-align: center;
  text-transform: capitalize;
  transition: all 0.5s;
  position: relative;
  padding: 1rem auto;
}

/* navigation on hover */
a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  transform-origin: left;
  transform: scaleX(0) translateY(-30%);
  transition: all 0.5s;
  background-color: var(--primary-variant);
}


a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  transform-origin: right;
  transform: scaleX(0) translateY(30%);
  transition: all 0.5s;
  background-color: var(--primary-variant);
}

a:hover::before {
  transform: scaleX(1) translateY(-30%);
}

a:hover::after {
 transform: scaleX(1) translateY(30%);
}

a:hover,
a:focus, 
a:active {
  transform: scale(1.2);
  text-transform: uppercase;
}


/* Home Section */
.title-group {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.7);
  width: 80%;
  height: auto;
  border-radius: 1rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content:center;
  align-items: center;
}

.title-group h2 {
 animation: scalingTextShadow 2.5s 3 linear alternate;
 padding: 0;
 margin: 0;
}

.title-group h1 {
  padding: 0;
  margin: 0;
 }
/* About Section */
.about-container {
  display: flex;
}

.image-container {
  border: 1px solid var(--secondary-color);
  border-radius: 10px;
  padding: 10px 20px;
  width: 30%;
  margin-left: 1rem;
  margin-right: 1rem;
  background: var(--background);
  box-shadow: var(--box-shadow);
}

.image-container h2 {
  font-size: 3rem;
}

img {
  height: 75%;
  width: 100%;
  object-fit: contain;
  object-position: center;
}

/* Projects Section */
.buttons {
  margin-top: 15px;
  margin-bottom: 50px;
}

button {
  min-width: 100px;
  height: 40px;
  cursor: pointer;
  border-radius: 10px;
  margin-right: 10px;
  border: 2px solid var(--primary-color);
  font-size: 15px;
  outline: none;
}

button:disabled {
  opacity: 0.4;
  cursor: default;
}

button:hover:not(.outline) {
  filter: brightness(110%);
}

.primary {
  background: var(--primary-color);
  color: var(--on-primary);
}

.secondary {
  border: 2px solid var(--secondary-color);
}

.secondary,
.secondary:hover,
.outline.secondary:hover {
  background: var(--secondary-color);
  color: var(--on-primary);
}

.outline {
  background: var(--background);
  color: var(--on-background);
}

.outline:hover {
  background: var(--primary-color);
  color: var(--on-primary);
}

.text-box {
  width: 50%;
  text-align: justify;
  background: rgb(0 0 0 / 50%);
  color: var(--on-primary);
  border-radius: 10px;
  padding: 30px;
  font-size: 2.25rem;
  letter-spacing: 2px;
}

p {
  margin: 0;
  line-height: 3rem;
  text-indent: 1.5rem;
  color: var(--on-background-alt);
}

p::first-letter {
  font-size: 3rem;
  color: var(--primary-variant);
  font-weight: 600;
}

/* Contact Section */
.social-icons {
border-radius: 1rem;
background-color: var(--background);
padding: 1rem;
display: flex;
justify-content: space-around;
align-items: center;
width: 50%;
}


.fab {
  font-size: 100px;
  cursor: pointer;
  color: var(--secondary-color);
  transition: all 0.5s;
}

.fab:nth-child(odd) {
  color: var(--primary-variant);
}
.fab:hover {
  color: var(--on-background);
  transform: scale(1.2);
}

#contact h2 {
  margin-top: 10vh;
  text-transform: capitalize;
}

/* Dark Mode Toggle */
.theme-switch-wrapper {
  display: flex;
  align-items: center;
  z-index: 100;
  position: fixed;
  right: 25px;
  top: 30px;
}

.theme-switch-wrapper span {
  margin-right: 10px;
  font-size: 1rem;
}

.toggle-text {
  position: relative;
  top: -4px;
  right: 5px;
  color: var(--on-background);
}

.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display: none;
}

.slider {
  background: var(--primary-color);
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider::before {
  background: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
}

input:checked + .slider {
  background: var(--primary-color);
}

input:checked + .slider::before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round::before {
  border-radius: 50%;
}

.fas {
  font-size: 30px;
  margin-right: 5px;
}

/* ANIMATIONS */

/* animation for h2 */
@keyframes scalingTextShadow {
  0% {text-shadow: none; 
    color: var(--on-background); 
    font-weight: normal; 
    transform: scale(1) translateY(0);
  }
  40% {text-shadow: 0.05rem 0.05rem 0.05rem var(--primary-color), 
    0 0.3rem 0.4rem #f29090, 
    0.2rem 0.4rem 0.3rem #5e5d5d; 
        color: #a9a7a7;
         font-weight: 500;
          transform: scale(1.4) translateY(-10%);
        }
  60% {text-shadow: 0.05rem 0.05rem 0.05rem var(--primary-color),
     0 0.3rem 0.4rem #f29090,
      0.2rem 0.4rem 0.3rem #5e5d5d; 
    color: var(--background);
     font-weight: 500; 
     transform: scale(1.4) translateY(-10%);
    }
  100% {text-shadow: none; 
    color: var(--on-background); 
    font-weight: normal; 
    transform: scale(1) translateY(0);}
}


/* font face rule */
/* cyrillic-ext */
@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/comfortaa/v40/1Pt_g8LJRfWJmhDAuUsSQamb1W0lwk4S4WjMDr4fIA9c.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/comfortaa/v40/1Pt_g8LJRfWJmhDAuUsSQamb1W0lwk4S4WjMDrcfIA9c.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek */
@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/comfortaa/v40/1Pt_g8LJRfWJmhDAuUsSQamb1W0lwk4S4WjMDrAfIA9c.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/comfortaa/v40/1Pt_g8LJRfWJmhDAuUsSQamb1W0lwk4S4WjMDrwfIA9c.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/comfortaa/v40/1Pt_g8LJRfWJmhDAuUsSQamb1W0lwk4S4WjMDr0fIA9c.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/comfortaa/v40/1Pt_g8LJRfWJmhDAuUsSQamb1W0lwk4S4WjMDrMfIA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Kaushan Script';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/kaushanscript/v14/vm8vdRfvXFLG3OLnsO15WYS5DG72wNJHMw.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Kaushan Script';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/kaushanscript/v14/vm8vdRfvXFLG3OLnsO15WYS5DG74wNI.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oswald/v49/TK3_WkUHHAIjg75cFRf3bXL8LICs1_FvsUtiZTaR.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oswald/v49/TK3_WkUHHAIjg75cFRf3bXL8LICs1_FvsUJiZTaR.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oswald/v49/TK3_WkUHHAIjg75cFRf3bXL8LICs1_FvsUliZTaR.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oswald/v49/TK3_WkUHHAIjg75cFRf3bXL8LICs1_FvsUhiZTaR.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oswald/v49/TK3_WkUHHAIjg75cFRf3bXL8LICs1_FvsUZiZQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* madia queries */
/* mobile wersion */
@media screen and (max-width: 780px) {
  nav {
    flex-direction: column;
  }

  a {
    font-size: 3rem;
  }
  
  .title-group {
    margin-top: 50%;
  }
  h1 {
    font-size: 5rem;
  }

  h2 {
    font-size: 3rem;
  }
  #about {
    height: 280vh;
  }

 .about-container {
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 5vh;
  justify-content: center !important;
  align-items: center !important;
  align-content: stretch;
 }

 .image-container {
  margin-bottom: 3vh;
  margin-left: 0;
  margin-right: 0;
  width: 80% !important;
  
 }
#about {
  margin-top: 40vh;
  text-align: center;
}
 #projects {
  height: auto;

}
#projects h1{
  margin-top: 35vh;
}
 .buttons {
flex-wrap: wrap;
 }

 .text-box {
  width: 80%;
 }

 .social-icons {
  width: 80%;
 }

 #contact {
  margin-top: 35vh;
 }
  
}

/*Laptop version*/
@media screen and (max-width: 1200px) {
.about-container {
  justify-content: space-evenly;
  align-items: center;
}

.image-container {
  width: 27%;
}

.text-box {
  width: 80%;
 }

.toggle-text {
  display: none;
}
}

